body {
  background-color: #111;
  color: white;
  display: grid;
  justify-content: center;

}

.flag-image {
  height: 15rem;
  width:20rem;
}

label {
  margin-top: 1rem;
}
.li {
margin-top: 1rem;
}

/* play about code for rotating earth  */

.globe {
  width: 300px;
  height: 300px;
  margin-top: 3rem;
  background: url(http://www.roentgen-institut.ch/clientdata/CID00001/org_1/images/10043.jpg);
  border-radius: 50%;
  background-size: 610px;
  box-shadow: inset 8px 30px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
 -webkit-animation-duration: 12s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
}
@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 610px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 610px 0px;
  }
}
